* {
  /* outline: 1px solid red; */
}

.page {
  font-family: 'Josefin Sans', Arial, sans-serif;
  margin: 0;
  background-color: #0a0909;
  color: #ffffff;
}

.page_container {
  min-width: 320px;
  max-width: 1180px;
  margin: 0 auto 20px;
}

.header_list {
  font-weight: normal;
  font-size: 28px;
  line-height: 1;
  list-style: none;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-left: 10px;
}

.header_list-item {
  color: #c8b552;
}

.header_list-item_title {
  text-transform: uppercase;
  color: #fbd611;
}

.header_nav {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #0a0909;
  z-index: 2;
  max-width: 1180px;
}

.header_img-piano {
  height: 50px;
  width: 50px;
}

a {
  text-decoration: none;
}

a .header_list-item:hover {
  cursor: pointer;
  opacity: 0.6;
  text-decoration: underline;
}

.header_img-piano:hover {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(360deg)
    brightness(118%) contrast(119%);
  border: none;
}
