@import './vendor/fonts/fonts.css';

* {
  outline: 1px solid red;
}

.page {
  font-family: 'Josefin Sans', Arial, sans-serif;
  margin: 0;
  background-color: #0a0909;
  color: #ffffff;
}

.page_container {
  min-width: 320px;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
}

.header_list {
  font-weight: normal;
  font-size: 28px;
  line-height: 1;
  list-style: none;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-left: 10px;
}

.header_list-item {
  color: #c8b552;
}

.header_list-item_title {
  text-transform: uppercase;
  color: #fbd611;
}

.header_nav {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_img-piano {
  height: 50px;
  width: 50px;
}

a {
  text-decoration: none;
}

/* a:hover {
  cursor: pointer;
  opacity: 0.6;
} */

a .header_list-item:hover {
  cursor: pointer;
  opacity: 0.6;
  text-decoration: underline;
}

.header_img-piano:hover {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(360deg)
    brightness(118%) contrast(119%);
  border: none;
}

.header-main {
  max-width: 1180px;
  height: 690px;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.header-main__photo {
  width: 1180px;
  height: 690px;
  opacity: 0.6;
}

.header-main__title {
  font-family: 'Pacifico', Arial, sans-serif;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: #8a1a15;
  width: 544px;
  margin: 0;
  position: absolute;
  top: 42px;
  left: 100px;
}

.header-main__subtitle {
  font-size: 40px;
  line-height: 1.25;
  color: #c8b552;
  position: absolute;
  top: 280px;
  left: 100px;
  width: 478px;
  margin: 0;
  text-align: left;
}

.header-main__text-button {
  width: 288px;
  height: 70px;
  border-radius: 40px;
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
  color: #510d0a;
  background-color: #fcea2b;
  position: absolute;
  top: 520px;
  left: 100px;
}

.header-main__clue {
  background: url(./images/icon/email.svg);
  width: 200px;
}
