@import "./vendor/fonts/fonts.css";

* {
    outline: 1px solid red;
}

.page {
    font-family: 'Josefin Sans', Arial, sans-serif;
    margin: 0;
    background-color: #0A0909;
    color: #FFFFFF;
}

.page_container {
    min-width: 320px;
    max-width: 1440px;
}

.header_list {
    font-weight: normal;
    font-size: 28px;
    line-height: 1;
    color: #C8B552;
    list-style: none;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: 10px;
}

.header_list-item:first-of-type {
    text-transform: uppercase;
    color: #FBD611;   
}

.header_nav {
    height: 70px;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_img-piano {
    height: 50px;
    width: 50px;

}
