@import './vendor/fonts/fonts.css';

.header-main {
  max-width: 1180px;
  height: 690px;
  text-align: center;
  padding: 0;
  margin: 0 auto 100px;
  position: relative;
}

.header-main__photo {
  width: 1180px;
  height: 690px;
  opacity: 0.6;
}

.header-main__grad {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to left,
    rgba(18, 18, 18, 0),
    rgba(10, 9, 9, 0.9)
  );
  position: absolute;
  top: 0;
  left: 0;
}

.header-main__title {
  font-family: 'Pacifico', Arial, sans-serif;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: #8a1a15;
  width: 544px;
  margin: 0;
  position: absolute;
  top: 42px;
  left: 100px;
  text-shadow: 1px 1px 2px black, 0 0 25px #000000, 0 0 5px #fcea2b;
}

.header-main__subtitle {
  font-size: 40px;
  line-height: 1.25;
  color: #fff;
  position: absolute;
  top: 280px;
  left: 100px;
  width: 478px;
  margin: 0;
  text-align: left;
  text-shadow: 2px 2px 4px #0f0f0f;
}

.header-main__text-button {
  width: 288px;
  height: 70px;
  border-radius: 40px;
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
  color: #510d0a;
  /* background-color: #fcea2b; */

  position: absolute;
  top: 520px;
  left: 100px;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    #fcea2b,
    #f39417,
    #ffbb00,
    #fcea2b
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-main__text-button:hover {
  cursor: pointer;
  background-position: 287px 10px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-main__clue {
  width: 32px;
  height: 84px;
  background-image: url(./images/icon/clue.svg);
  position: absolute;
  top: 40px;
  right: 100px;
  background-repeat: no-repeat;
}

.header-main__icon-phone {
  background-image: url(./images/icon/header-main-mobile.svg);
  width: 38px;
  height: 38px;
  margin-right: 16px;
}

.header-main__number {
  font-weight: bold;
  font-size: 28px;
  line-height: 1;
  color: #ffffff;
  width: 244px;
  margin: 0;
}

.header-main__contact {
  width: 276px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 16px;
  right: 100px;
}

.maim-about-me__sharp {
  background-image: url(./images/icon/sharp.svg);
  width: 30px;
  height: 36px;
  background-repeat: no-repeat;
}

.maim-about-me__flat {
  background-image: url(./images/icon/flat.svg);
  width: 20px;
  height: 36px;
  margin-left: 10px;
  background-repeat: no-repeat;
}

.main-about-me__line {
  width: 1080px;
  height: 18px;
  border-bottom: 1px solid #8a1a15;
}

.main-about-me__block-break {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.main-about-me__photo {
  width: 580px;
  height: 410px;
}

.main-about-me__photo-me {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.main-about-me__text {
  width: 380px;
  height: 460px;
  border-radius: 40px;
  background-color: #d6d6e1;
  color: #000;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  display: flex;
  justify-content: center;
}

.main-about-me__text__list {
  list-style: none;
  padding: 0;
  margin: 40px 0 0;
  width: 286px;
}

.main-about-me__item {
  padding-bottom: 14px;
}

.main-about-me__item_highlight {
  text-transform: uppercase;
}

.main-about-me__piano {
  width: 680px;
}

.main-about-me__info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.main-dreams__text {
  font-family: 'Pacifico', Arial, sans-serif;
  font-size: 30px;
  line-height: 1;
  color: #8a1a15;
  margin: 20px 0 30px;
}

.main-dreams__video {
  border-radius: 40px;
}

.footer-contacts__title {
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.footer-contacts__list {
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  list-style: none;
  width: 1180px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 30px 0 0;
}

.footer-contacts__icon_tg {
  background-image: url(./images/icon/telegram.svg);
  width: 20px;
  height: 20px;
}

.footer-contacts__icon_email {
  background-image: url(./images/icon/email.svg);
  width: 20px;
  height: 16px;
}

.footer-contacts__icon_vk {
  background-image: url(./images/icon/vk.svg);
  width: 20px;
  height: 20px;
}

.footer-contacts__icon_phone {
  background-image: url(./images/icon/header-main-mobile.svg);
  background-size: contain;
  object-fit: contain;
  width: 20px;
  height: 20px;
}

.footer-contacts__list li p {
  margin: 0;
}

.footer-contacts__list-items {
  display: flex;
}

.footer-contacts__list-items div {
  margin-right: 10px;
}
