@import '../vendor/fonts/fonts.css';

.header_img-piano {
  height: 50px;
  width: 50px;
}

a {
  text-decoration: none;
}

a .header_list-item:hover {
  cursor: pointer;
  opacity: 0.6;
  text-decoration: underline;
}

.header_img-piano:hover {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(360deg)
    brightness(118%) contrast(119%);
  border: none;
}

.main-about__title,
.main-about__education {
  font-family: 'Pacifico', Arial, sans-serif;
  font-size: 54px;
  line-height: 1;
  color: #8a1a15;
  margin: 0;
  text-align: center;
  padding: 60px 0 60px;
}

.main-about__info {
  width: 378px;
  height: 400px;
  background-color: #d6d6e1;
  border-radius: 40px;
}

.main-about__list-items {
  font-size: 18px;
  line-height: 1.22;
  color: #000;
  list-style: none;
  text-align: center;
  padding: 44px 0 0;
  margin: 0;
}

.main-about__list-items li {
  margin-bottom: 20px;
}

.main-about__img {
  width: 484px;
  height: 400px;
}

.main-about__inform {
  width: 984px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.main-about__list-item {
  font-size: 20px;
  line-height: 1.37;
  color: #fff;
  list-style: none;
}

.main-about__list-item li {
  margin-bottom: 20px;
}

.sint-grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 940px;
  margin: 60px auto;
  position: relative;
}

.grid-item__sea {
  border-radius: 40px;
  grid-column: 7 / -1;
  grid-row: 1;
  padding-top: 20%;
  z-index: 1;
}

.grid-item__cat {
  grid-column: 1 / span 10;
  grid-row: 1;
}
